<h1>Gamelifeへようこそ！</h1>
<p>このサイトはゲーム好きな皆さんが集まり交流する事を通じて</p>
<p>より充実したゲーム人生-ゲームライフ-に繋げてほしいという思いから作られました。</p>
<p>今あるコミュニティに加わるもよし、新たなコミュニティを立ち上げるもよし！</p>
<p>さぁ　あなたも交流に参加してみましょう！</p>

<div>
  <li class="nav-item">
    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
  </li>
</div>