<h1>showページ</h1>

<div class="tags">
  <% if @tags.present? %>
    <div class="d-flex flex-wrap">
      <% @tags.each do |tag| %>
	<span class="badge badge-info mr-2 mb-2">
	  <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "text-white" %>
	</span>
      <% end %>
    </div>
  <% else %>
    <p>登録されているタグはありません</p>
  <% end %>
</div>